$background-color: #FBFEF4;
$aside-background-color: #fff;
$primary-color: #37AB00;
$dark-transparent-30: #0000004D;
$dark-transparent-20: #00000033;
$dark-transparent-03: #00000008;
$dark-transparent-70: #000000b3;
